<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Air Box Graph</title>
</head>
<body>
<h1>{{ location }}</h1>
<form method="post">
    <select name="location">
        {% for location in location_list %}
        <option value = "{{ location }}">{{ location }}</option>
        {% endfor %}
    </select>
    <select name="air">
        {% for air in air_data_list %}
        <option value = "{{ air }}">{{ air }}</option>
        {% endfor %}
    </select>
    {% csrf_token %}
    <input type="submit" value="search">
</form>
{{ air_graph | safe }}
</body>
</html>