<html>
    <head>
        <meta charset = "UTF-8">
        <title>空氣盒子</title>
        <style>
            details {
              border: 1px solid #aaa;
              border-radius: 4px;
              padding: 0.5em 0.5em 0;
            }

            summary {
              font-weight: bold;
              margin: -0.5em -0.5em 0;
              padding: 0.5em;
            }

            details[open] {
              padding: 0.5em;
            }
        </style>
    </head>
    <body>
        <div style="width:500px; float:left; height:200px;">
            <h2>Online</h2>
            {% for place, place_dict in place_data_dict.items %}
            <details>
                <summary>{{ place }}</summary>
                <ul>
                {% for key, value in place_dict.items %}
                    <li>{{ key }} : {{ value }}</li>
                {% endfor %}
                </ul>
            </details>
            {% endfor %}

        </div>
        <div style="width:500px; float:right; height:200px;">
            <h2>Offline</h2>
            {% for place, place_dict in offline_place_data_dict.items %}
            <h3>{{ place }}</h3>
            <ul>
                {% for key, value in place_dict.items %}
                <li>{{ key }} : {{ value }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </body>
</html>