<html>
    <head>
        <meta charset = "UTF-8">
        <title>空氣盒子</title>
        <style>
            details {
              border: 2px solid #aaa;
              border-radius: 4px;
              padding: 0.5em 0.5em 0;
            }

            summary {
              font-weight: bold;
              margin: -0.5em -0.5em 0;
              padding: 0.5em;
            }

            details[open] {
              padding: 0.5em;
            }
        </style>
    </head>
    <body>
        <div style="width:500px; float:left; height:200px;">
            <h2>Online</h2>
            {% for place, place_dict in place_data_dict.items %}
            <div>
                <details>
                    <summary>{{ place }}</summary>
                    <ul>
                        <li>pm25 : {{ place_dict.items.pm25 }}</li>
                        <li>pm10 : {{ place_dict.items.pm10 }}</li>
                        <li>pm1  : {{ place_dict.items.pm1 }}</li>
                        <li>co2 : {{ place_dict.items.co2 }}</li>
                        <li>hcho : {{ place_dict.items.hcho }}</li>
                        <li>tvoc  : {{ place_dict.items.tvoc }}</li>
                        <li>co  : {{ place_dict.items.co }}</li>
                        <li>t  : {{ place_dict.items.t }}</li>
                        <li>h : {{ place_dict.items.h }}</li>
                        <li>status : {{ place_dict.items.status }}</li>
                        <li>time: {{ place_dict.items.time }}</li>
                    </ul>
                </details>
            </div>
            {% endfor %}

        </div>
        <div style="width:500px; float:right; height:200px;">
            <h2>Offline</h2>
            {% for place, place_dict in offline_place_data_dict.items %}
            <h3>{{ place }}</h3>
            <ul>
                {% for key, value in place_dict.items %}
                <li>{{ key }} : {{ value }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </body>
</html>