<html>
<head></head>
<body>
<div class = "container">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">影片選取</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
            <option selected>選擇...</option>
            {% for video in video_list  %}
            <option selected>{{ video.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>
</body>