<!DOCTYPE HTML>

{% load static %}
<html>
	<head>
		<title>mainpage</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{%static 'mainpage/assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{%static 'mainpage/assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><img src="{%static 'mainpage/images/logo.svg' %}" alt="" /></span>
						<h1>{{request.user}}</h1>
						<a href="/logout/">logout</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#intro" class="active">介紹</a></li>
							<li><a href="#first">每月軟體最高同時使用人次</a></li>
							<li><a href="#second">每周軟體最高同時使用人次</a></li>
							<li><a href="#third">空氣盒子</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Introduction -->
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>資訊處資料儀表板</h2>
										</header>
										<p>介紹</p>
									</div>
									<span class="image"><img src="{%static 'mainpage/images/pic01.jpg' %}" alt="" /></span>
								</div>
							</section>

						<!-- First Section -->
							<section id="first" class="main special">
								<header class="major">
									<h2>每月軟體最高同時使用人次</h2>
								</header>
								<ul>
									<li>
										<ul>
											<li><a href="vanse_online_monthly/" class="button">Vans 每月軟體最高同時使用人次</a></li>
											<li><a href="citrix_online_monthly/" class="button">Citrix 每月軟體最高同時使用人次</a></li>
											<li><a href="vans_citrix_monthly/" class="button">每月軟體最高同時使用人次(Citrix + Vans)</a></li>
										</ul>
									</li>
								</ul>
							</section>
						<!-- Second Section -->
							<section id="second" class="main special">
								<header class="major">
									<h2>每周軟體最高同時使用人次</h2>
								</header>
								<ul>
									<li>
										<ul>
											<li><a href="vanse_usage_weekly/" class="button">Vans 每周軟體最高同時使用人次</a></li>
											<li><a href="citrix_online_weekly/" class="button">Citrix 每周軟體最高同時使用人次</a></li>
											<li><a href="citrix_vanse_usage_weekly/" class="button">每周軟體最高同時使用人次(Citrix + Vans)</a></li>
										</ul>
									</li>
								</ul>
							</section>
						<!-- Third Section -->
						<section id="third" class="main special">
								<header class="major">
									<h2>空氣盒子</h2>
								</header>
								<ul>
									<li>
										<ul>
											<li><a href="air_box/" class="button">空氣狀況</a></li>
											<li><a href="air_box_graph/" class="button">空氣歷史資訊</a></li>
										</ul>
									</li>
								</ul>
							</section>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
						</section>
						<section>
							<h2>逢甲大學</h2>
							<dl class="alt">
								<dt>地址</dt>
								<dd>407102 台中市西屯區文華路100號</dd>
								<dt>市話</dt>
								<dd>+886 (04) 2451-7250</dd>
								<dt>Email</dt>
								<dd>webadmin@fcu.edu.tw</dd>
							</dl>
							<ul class="icons">
								<li><a href="#" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
							</ul>
						</section>
						<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{%static 'mainpage/assets/js/jquery.min.js' %}"></script>
			<script src="{%static 'mainpage/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{%static 'mainpage/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{%static 'mainpage/assets/js/browser.min.js' %}"></script>
			<script src="{%static 'mainpage/assets/js/breakpoints.min.js' %}"></script>
			<script src="{%static 'mainpage/assets/js/util.js' %}"></script>
			<script src="{%static 'mainpage/assets/js/main.js' %}"></script>

	</body>
</html>